registry=https://registry.npmmirror.com
fetch-retry-mintimeout=30000
strict-peer-dependencies=false
always-auth=false

# 忽略在 root workspace 添加依赖项时的警告信息
ignore-workspace-root-check=true

# 配置 pnpm 把相关幻影依赖提升到 node_modules 目录，便于应用程序访问
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
