html {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  color: #333;
}

a {
  color: #333;
  text-decoration: inherit;
}
a:hover {
  color: #3478fe;
}

